<div class="eyi-home-section-wrapper">
    <div class="d-flex justify-content-center">
        <eyi-logo-animation></eyi-logo-animation>
    </div>
    <div class="eyi-home-section text-center pt-3">
        <h2 class="text-uppercase pt-3">{{homeSectionInfo.title}}</h2>
        <div class="eyi-home-section-description w-50 m-auto text-secondary py-3">
            {{homeSectionInfo.description}}
        </div>
        <ng-container *ngIf="homeSectionInfo.categories">
            <ul class="eyi-home-section-categories d-flex justify-content-center">
                <ng-container *ngFor="let cat of homeSectionInfo.categories">
                    <li class="float-start cursor-pointer p-4 text-uppercase eyi-home-section-category" (click)="filterCategories(cat.value)">
                        {{cat.label}}
                    </li>
                </ng-container>
            </ul>
        </ng-container>
    </div>
    <ng-container *ngIf="images && images.length">
        <eyi-home-section-images
            [images]="images"
            [hoverMode]="homeSectionInfo.hoverMode!"
            [gutterSize]="homeSectionInfo.gutterSize!"
            [columnSize]="homeSectionInfo.columnSize ? homeSectionInfo.columnSize : 3"
        ></eyi-home-section-images>
    </ng-container>

    <div class="px-4" *ngIf="homeSectionInfo.carouselItems">
        <ngb-carousel>
            <ng-container *ngFor="let carousel of homeSectionInfo.carouselItems">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <div class="row col-12 px-2">
                            <eyi-home-section-images
                                [images]="carousel.items"
                                [hoverMode]="false"
                                [marginGutterSize]="20"
                                [columnSize]="3"
                            ></eyi-home-section-images>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </ngb-carousel>
    </div>
</div>