@import '../../../../../assets/styles/color-codes';
@import '../../../../../assets/styles/variables';

:host {
    .eyi-event-view-wrapper {
        border-bottom: $eyi-size-1x solid $eyi-yoga-workflow-border;
    }

    .eyi-eveny-image {
        max-width: 100%;
    }

    @media (max-width: 576px) {
        .eyi-event-view-wrapper {
           flex-direction: column;

           .eyi-date {
                justify-content: center;
                margin-bottom: $eyi-size-10x;
           }

           .eyi-price {
                display: block;
                margin-top: $eyi-size-10x;
                width: 100%;
           }
        }
    }
}

