@import '../../../assets/styles/color-codes';
@import '../../../assets/styles/typography';
@import '../../../assets/styles/variables';

:host {
    display: block;

    header {
        z-index: 2;

        .eyi-dropdown-menu {
            margin-top: -10px !important;
            
            .eyi-submenu-item {
                background: none;
                transition: all .35s cubic-bezier(.61,.92,0,.21);
    
                &:hover {
                    color: $eyi-primary;
                    transform: translate3d(2px, 0, 0);
                }
            }    
        }

        .eyi-logo {
            height: $eyi-size-75x;
            width: $eyi-size-75x;
        }
    
        .eyi-nav-item {
            border-top: $eyi-size-5x solid transparent;
            color: $eyi-white;
            font-weight: $eyi-font-weight-medium-bold;
            font-size: $eyi-font-size-sm;
    
            &.selected,
            &:hover {
                border-top: $eyi-size-5x solid $eyi-primary;
                color: $eyi-primary;
            }
        }

        .eyi-side-drawer-trigger {
            color: $eyi-white;

            &:hover {
                color: $eyi-primary;
            }
        }

        &.eyi-scrolled-menu {
            background-color: $eyi-white;
            box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);

            .eyi-nav-item,
            .eyi-side-drawer-trigger {
                color: $eyi-medium-dark-gray;
            }

            .eyi-nav-item {
                border-top: none;

                &.selected,
                &:hover {
                    border-top: none;
                    color: $eyi-primary;
                }
            }
        }
    
        .eyi-responsive-menu-wrapper {
            &.opened {
                .eyi-responsive-menu-icon {
                    color: $eyi-primary;
                }
            }
        }
    
        .eyi-responsive-menu {
            max-height: 0;
            transition: max-height 0.15s ease-out;
            overflow: hidden;
            background: $eyi-white;
    
            &.active {
                max-height: $eyi-size-450x;
                transition: max-height 0.25s ease-in;
            }
    
            .eyi-responsive-menu-item {
                &.eyi-responsive-menu-last-item {
                    border-bottom: $eyi-size-1x solid $eyi-light-gray;
                }
                &:hover {
                    color: $eyi-primary;
                }
            }

            .eyi-responsive-sub-menu-wrapper {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.15s ease-out;

                &.active {
                    max-height: $eyi-size-200x;
                }
            }

            .eyi-responsive-sub-menu {
                border-bottom: $eyi-size-1x solid $eyi-light-gray;
                &.eyi-responsive-sub-menu-last-item {
                    border-bottom: none;
                }
            }
        }
    }
}

