<div class="eyi-desc-image-wrapper p-4">
    <div class="row col-12 p-4">
        <div class="col-md-6 col-sm-12 text-center">
            <img [src]="info.image" class="eyi-image" />
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="p-4">
                <h3 class="px-4 pb-3 text-uppercase text-white">{{info.title}}</h3>
                <div class="eyi-separator mx-4 mb-3"></div>
                <div class="px-4 text-secondary text-white">{{info.description}}</div>
            </div>
        </div>
    </div>
</div>
