@import '../../../../assets/styles/color-codes';
@import '../../../../assets/styles/variables';

:host {
    .eyi-desc-image-wrapper {
        background-color: $eyi-green-bg;

        .eyi-separator {
            border: $eyi-size-1x solid $eyi-white;
            width: $eyi-size-100x;
        }

        .eyi-image {
            height: $eyi-size-300x;
            max-width: 100%;
        }
    }
}
