<div class="eyi-home-wrapper">
    <ngb-carousel *ngIf="images" (slide)="onSlideChange($event)" (slid)="onAfterSlideChange($event)" [pauseOnHover]="false">
        <ng-template ngbSlide>
          <div class="eyi-slide-wrapper" [ngClass]="{'active': currentSlide === 0}">
            <div class="picsum-img-wrapper position-relative">
              <img class="position-absolute eyi-image-slider-design-left" src="./assets/images/h1-slide-img-2.png" />
              <div class="eyi-slider-image-wrapper">
                <img [src]="images[0]" alt="first slide" class="eyi-slider-images" [ngClass]="{'eyi-slider-image-loaded': sliderOpacity.first}" />
              </div>
              <img class="position-absolute eyi-image-slider-design-right" src="./assets/images/h1-slide-img-3.png" />
            </div>
            <div class="eyi-carousel-caption carousel-caption justify-content-end eyi-carousel-bottom">
              <h3 class="text-white eyi-carousel-caption-title">अथ योगानुशासनम्</h3>
              <p class="text-white eyi-carousel-caption-description">
                Start your CAREER JOURNEY with Everest's PROFESSIONAL YOGA TEACHER TRAINING (ONLINE & ONSITE)
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="eyi-slide-wrapper" [ngClass]="{'active': currentSlide === 1}">
            <div class="picsum-img-wrapper position-relative">
              <img class="position-absolute eyi-image-slider-design-left" src="./assets/images/h1-slide-img-2.png" />
              <div class="eyi-slider-image-wrapper">
                <img [src]="images[1]" alt="second slide" class="eyi-slider-images"  [ngClass]="{'eyi-slider-image-loaded': sliderOpacity.second}" />
              </div>
              <img class="position-absolute eyi-image-slider-design-right" src="./assets/images/h1-slide-img-3.png" />
            </div>
            <div class="eyi-carousel-caption carousel-caption text-white">
              <h3 class="text-white eyi-carousel-caption-title">स्थिर-सुखम् आसनम्</h3>
              <p class="text-white eyi-carousel-caption-description">EVEREST’S THERAPEUTIC YOGA - Heal & Feel</p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="eyi-slide-wrapper" [ngClass]="{'active': currentSlide === 2}">
            <div class="picsum-img-wrapper position-relative">
              <img class="position-absolute eyi-image-slider-design-left" src="./assets/images/h1-slide-img-2.png" />
              <div class="eyi-slider-image-wrapper">
                <img [src]="images[2]" alt="third slide" class="eyi-slider-images" [ngClass]="{'eyi-slider-image-loaded': sliderOpacity.third}" />
              </div>
              <img class="position-absolute eyi-image-slider-design-right" src="./assets/images/h1-slide-img-3.png" />
            </div>
            <div class="eyi-carousel-caption carousel-caption text-white justify-content-end eyi-carousel-bottom">
              <h3 class="text-white eyi-carousel-caption-title">विशोका वा ज्योतिष्मती</h3>
              <p class="text-white eyi-carousel-caption-description">EVEREST’S KID’S YOGA - ADAPTIVE & EFFICIENT</p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="eyi-slide-wrapper" [ngClass]="{'active': currentSlide === 3}">
            <div class="picsum-img-wrapper position-relative">
              <img class="position-absolute eyi-image-slider-design-left" src="./assets/images/h1-slide-img-2.png" />
              <div class="eyi-slider-image-wrapper">
                <img [src]="images[3]" alt="forth slide" class="eyi-slider-images" [ngClass]="{'eyi-slider-image-loaded': sliderOpacity.forth}" />
              </div>
              <img class="position-absolute eyi-image-slider-design-right" src="./assets/images/h1-slide-img-3.png" />
            </div>
            <div class="eyi-carousel-caption carousel-caption text-white">
              <h3 class="text-white eyi-carousel-caption-title">योगश्चित्तवृत्तिनिरोधः</h3>
              <p class="text-white eyi-carousel-caption-description">SITUATIONAL AWARENESS through our GROUP YOGA CLASSES (ONLINE & ONSITE)
              </p>
            </div>
          </div>
        </ng-template>
    </ngb-carousel>
    <div class="row col-12 bg-white">
      <div class="text-secondary text-center pt-4">
        {{mission}}
      </div>
    </div>
    <div class="row col-12 pt-4 bg-white">
        <div class="col-md-4 col-sm-12" *ngFor="let info of homeInfo">
            <eyi-stratergy-info [info]="info"></eyi-stratergy-info>
        </div>
    </div>
    <div class="row col-12 eyi-moto">
      <eyi-home-sections [homeSectionInfo]="spiritualGuide"></eyi-home-sections>
    </div>
    <div class="row col-12 eyi-moto">
      <eyi-home-sections [homeSectionInfo]="chooseClass"></eyi-home-sections>
    </div>
    <eyi-desc-with-stats [customizedBackground]="false" [description]="yogaDescription"></eyi-desc-with-stats>
    <eyi-desc-with-image [info]="wellnessInformation"></eyi-desc-with-image>
    <div class="row col-12 eyi-moto">
      <eyi-home-sections [homeSectionInfo]="latestTrends"></eyi-home-sections>
    </div>
    <eyi-user-tweets [tweets]="happyCustomers" title="Happy Customers"></eyi-user-tweets>
    <div class="row col-12 eyi-moto">
      <eyi-home-sections [homeSectionInfo]="signUpClasses"></eyi-home-sections>
      <eyi-sign-up [signUpInfo]="signUpInfo"></eyi-sign-up>
    </div>
</div>
