@import '../../../assets/styles/color-codes';
@import '../../../assets/styles/typography';

:host {
    .eyi-slider-images {
        height: 100vh;
        width: 100%;
    }

    .eyi-slide-wrapper {
        &:hover {
            .eyi-image-slider-design-left,
            .eyi-image-slider-design-right {
                transition: 1s;
            }

            .eyi-image-slider-design-left {
                left: 0;
            }

            .eyi-image-slider-design-right {
                right: 0;
            }
        }
    }

    .eyi-image-slider-design-left {
        left: -400px;
        width: 400px;
        transition: 1s;
    }

    .eyi-image-slider-design-right {
        right: -400px;
        width: 400px;
        transition: 1s;
    }

    .eyi-moto {
        background-color: $eyi-secondary-bg;
    }

    .eyi-carousel-caption {
        align-items: center;
        bottom: auto;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        left: 0;
        padding: 0;
        right: auto;
        top: 0;
        width: 100%;
        
        .eyi-carousel-caption-title {
            font-size: $eyi-font-size-xxxxl;
        }

        .eyi-carousel-caption-description {
            font-size: $eyi-font-size-xxxl;
        }
    }
}
