<div class="eyi-about-section-wrapper">
    <div class="eyi-about-section text-center pt-3">
        <h2 class="text-uppercase pt-3">{{aboutSectionInfo.title}}</h2>
        <div class="eyi-about-section-description w-50 m-auto text-secondary py-3">
            {{aboutSectionInfo.description}}
        </div>
    </div>
    <ngb-carousel [showNavigationArrows]="false" #carousel class="eyi-carousel">
        <ng-container *ngFor="let car of aboutSectionInfo.carouselItems">
            <ng-template ngbSlide>
                <div class="row col-12 px-2">
                    <div class="col-md-3 col-sm-12 py-4 d-flex justify-content-center" *ngFor="let usr of car.items; let i = index;">
                        <div class="eyi-flip-card">
                            <div class="eyi-flip-card-inner">
                              <div class="eyi-flip-card-front">
                                <img [src]="usr.image" class="eyi-user-image my-4" />
                                <h3 class="text-uppercase py-4">{{usr.name}}</h3>
                                <span class="bg-primary text-white px-3 py-1">
                                    {{usr.job}}
                                </span>
                                <div class="text-secondary py-4">
                                    {{usr.description}}
                                </div>
                              </div>
                              <div class="eyi-flip-card-back p-3" [style.background]="backgroundColors[(i%4)]">
                                <div class="text-white pb-3">
                                    <div *ngFor="let edu of usr.education" class="text-start">
                                        <i>
                                            <strong class="text-white">{{edu}}</strong>
                                        </i>
                                    </div>
                                </div>
                                <div class="eyi-about-back-desc text-white text-start pt-3">
                                    {{usr.backDescription}}
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </ngb-carousel>
</div>
