$eyi-primary: #f7972f;
$eyi-sub-primary: #915e18;
$eyi-secondary: #a4a2a2;
$eyi-dark: #212529;
$eyi-black: #000000;
$eyi-white: #ffffff;
$eyi-light: #eef1f7;
$eyi-success: #05b76d;
$eyi-warning: #f5d16e;
$eyi-bg-color: #f1f3f6;
$eyi-border-color: #dfdfdf;
$eyi-info: #1b73d9;
$eyi-danger: #e44304;
$eyi-separator: #b8c1d0;
$eyi-very-light-gray: #dddddd;
$eyi-light-gray: #d0d0d0;
$eyi-dark-gray: #888888;
$eyi-very-light-gray2: #f1f1f1;
$eyi-very-dark-gray: #555555;
$eyi-medium-dark-gray: #333333;
$eyi-very-dark-grayish-blue: rgba(57, 63, 72, 0.3);
$eyi-light-grayish-blue: #ced4da;
$eyi-secondary-bg: #fafafa;
$eyi-heading: #505050;
$eyi-green-bg: #47cdc6;
$eyi-tweets-bg: #F68e57;
$eyi-footer-bg: #222328;
$eyi-text-widget: #e5e4e4;
$eyi-text-widget-color: #6b6b6b;
$eyi-yoga-border: #f2f2f2;
$eyi-yoga-left-border: #ebebeb;
$eyi-yoga-workflow-border: #e4e4e4;
