<div class="eyi-tweets-wrapper">
    <div class="eyi-tweet-inner-wrapper text-center">
        <h1 class="text-white text-uppercase">
            {{title}}
        </h1>
        <ngb-carousel [showNavigationArrows]="false" #carousel>
            <ng-container *ngFor="let twt of tweets">
                <ng-template ngbSlide>
                    <div class="eyi-tweet-wrapper">
                      <div class="text-white pb-4">
                        "{{twt.message}}"
                      </div>
                      <div >
                        <h3 class="text-white text-uppercase">{{twt.name}}</h3>
                      </div>
                      <div class="text-white">
                        {{twt.title}}
                      </div>
                    </div>
                  </ng-template>
            </ng-container>
        </ngb-carousel>
    </div>
</div>
