@import '../../../../../assets/styles/color-codes';
@import '../../../../../assets/styles/variables';

:host {
    display: block;

    .eyi-separator {
        border: $eyi-size-1x solid $eyi-primary;
        width: $eyi-size-100x;
    }
}
