<div class="row col-12 bg-white pt-4 pb-4">
    <div class="col-md-6 col-sm-12 pt-4 pb-4">
        <div class="p-4">
            <h3 class="px-4 pb-3 text-uppercase">{{description.title}}</h3>
            <div class="px-4 text-secondary">{{description.description}}</div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 pt-4 pb-4">
        <ng-container *ngFor="let stat of description.stats">
            <div class="px-4 py-2">
                <div class="d-flex">
                    <div class="flex-grow-1 text-secondary">
                        {{stat.label}}
                    </div>
                    <div>
                        {{stat.value}} %
                    </div>
                </div>
                <ngb-progressbar type="primary" [value]="stat.value"></ngb-progressbar>
            </div>
        </ng-container>
    </div>
</div>
