@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import './assets/styles/styles';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }

* {
    // for Firefox
    scrollbar-width:thin;
    scrollbar-color: $eyi-dark-gray $eyi-white;

    // for rest browsers*
    & ::-webkit-scrollbar {
    width: $eyi-size-5x;
    height: $eyi-size-5x;
    }

    /* Track */
    & ::-webkit-scrollbar-track {
    background: $eyi-white;
    }

    /* Handle */
    & ::-webkit-scrollbar-thumb {
        background: $eyi-dark-gray;
        border-radius: $eyi-size-4x;
    }
    /* Handle on hover */
    & ::-webkit-scrollbar-thumb:hover {
        background: $eyi-very-dark-gray;
    }
}

body {
    * {
        color: $eyi-medium-dark-gray;
        font-family: $eyi-font-family;
    }
}

@import './assets/styles/custom';

.accordion-item {
    border: 0;
    .accordion-header {
        border-bottom: $eyi-size-1x solid $eyi-secondary;
    }
    .accordion-button {
        background: transparent;
        box-shadow: none;
        color: $eyi-secondary;
        font-weight: $eyi-font-weight-xl;
        text-transform: uppercase;
        &:focus {
            box-shadow: none;
        }
        &:after {
            background-image: none;
            height: 0;
            width: 0;
        }
        &:not(.collapsed) {
            color: $eyi-primary;
        }
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
}

.eyi-about-section-wrapper {
    .carousel-indicators [data-bs-target] {
        background-color: $eyi-primary;
    }
}

.carousel-control-prev-icon {
    background-image: url('./assets/icons/arrow-left.svg');
}
.carousel-control-next-icon{
    background-image: url('./assets/icons/arrow-right.svg');
}
