@import './variables';

.text-underline-hover {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.eyi-cross-icon {
    right: $eyi-size-10x;
    top: $eyi-size-10x;
}
