@import './typography';
@import './variables';
@import './color-codes';

.text-underline-hover {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.eyi-cross-icon {
    right: $eyi-size-10x;
    top: $eyi-size-10x;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $eyi-heading;
    font-size: $eyi-font-size-xxxl;
    font-weight: $eyi-font-weight-xl;
}

.text-widget {
    color: $eyi-text-widget;
}

.eyi-style-type-none {
    list-style-type: none;
}

.eyi-headings {
    font-size: $eyi-font-size-xxxl;
    font-weight: $eyi-font-weight-xl;
}

.eyi-descriptions-info {
    color: $eyi-text-widget-color;
}
