<div class="eyi-yoga-wrapper">
    <eyi-banner-with-caption [bannerInfo]="yogaBanner"></eyi-banner-with-caption>
    <div class="row col-12 pt-4 bg-white">
        <div class="col-md-3 col-sm-12" *ngFor="let info of yogaStatergyInfo">
            <eyi-stratergy-info [info]="info"></eyi-stratergy-info>
        </div>
    </div>
    <eyi-yoga-courses-offered [courses]="coursesOffered"></eyi-yoga-courses-offered>
    <eyi-desc-with-stats [description]="yogaDescription" [customizedBackground]="true"></eyi-desc-with-stats>
    <eyi-yoga-workflow [workflowInfo]="yogaWorkFlows"></eyi-yoga-workflow>
</div>
